.App {
  text-align: center;
}
/* nav start*/
.navbar {
  border: 1px black solid;
  background-color: #e3f2fd;
  border-radius: 6px;
}

.nav-item {
  text-decoration: none;
  text-align: center;
  padding-left: 10px;
}
.navList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/* nav end */
