.App {
  text-align: center;
}
.animalItem{
  padding: 18px;
  border: indigo solid 1px;
}
.dateStyle{
  font-size:10 ;
  margin-bottom:12px ;
}
.animalList{
  display: grid;
  /* grid-auto-flow: column; */
  column-gap: 16px;
  grid-template-columns: repeat(4,1fr);
  row-gap: 16px;
}
.listAnimals{
  /* max-width: 600px; */
  margin: 0 auto;
  display: grid;
  row-gap: 30px;
  margin-top: 50px;
}

.flexAuthorization{
  display: flex;
  flex-direction: row;
}
.auth{
  margin-right: 10px;
}
.form-outline{
  margin-top: 6px;
}
.searchButton{
   margin-top: 18px;
}

